---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul class="taxonomy-index">
                      {% assign categories_max = 0 %}
                      {% for category in site.categories %}
                        {% if category[1].size > categories_max %}
                          {% assign categories_max = category[1].size %}
                        {% endif %}
                      {% endfor %}
                      {% for i in (1..categories_max) reversed %}
                        {% for category in site.categories %}
                          {% if category[1].size == i %}
                            <li>
                              <a href="{{ site.url }}/{{ category[0] }}">
                                <strong>{{ category[0] }}</strong>
                                <span class="taxonomy-count">[{{ i }}]</span>
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
